{% extends 'base.html.twig' %}
{% block title %}
  Voir Slug
{% endblock %}
{% block body %}
  <ul class="list">
    <li>years: {{ years }}</li>
    <li>Slug: {{ slug }}</li>
    <li>format: {{ format }}</li>
    <li>url: {{url}}</li>
  </ul>
{% endblock %}
